{% extends "base.html" %}

{% block content %}
<br>
<h1>
    <center>Поиск</center>
</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<form action="" method="post" novalidate class="left">

    {{ form.hidden_tag() }}
    <p>
        {{ form.search.label }}<br>
        {{ form.search(cols="100", rows="1") }}<br>
        {% for error in form.search.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}

    {{ form.submit() }}</p>
</form>
{% if result != False %}
    {% if result == 'error' %}
        <p> Извините, по вашему запросу ничего не найдено </p>
        {% else %}

        {% if result[1] == 1 %}
            <div class="p-2">
                <div class="card" style="width: 200px; height: 500px">
                    <img class="card-img-top" style="height: 317px" src="{{url_for('static', filename='img/'+result[0][5])}}"
                         alt="Обложка книги">
                    <div class="card-body">
                        <h5 class="card-title">
                            <center><a href="/book/{{result[0][0]}}" style="color: #FFCC00">{{result[0][1]}}</a></center>
                        </h5>
                        <p class="card-text">
                        <div style="color: #000000">
                            <center>{{result[0][2]}}</center>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="p-2">

                <div class="card" style="width: 200px; height: 385px">
                    <img class="card-img-top" style="height: 300px" src="{{url_for('static', filename='img/'+result[0][2])}}"
                         alt="Фотография">
                    <div class="card-body">
                        <h5 class="card-title">
                            <center><a href="/author/{{result[0][0]}}" style="color: #FFCC00">{{ result[0][1] }}</a></center>
                        </h5>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endif %}
{% endblock %}
